.themify_builder .contact-102-0-0-0.module-contact{color:#000000; }
.themify_builder .contact-102-0-0-0.module-contact .control-label{font-size:25px; }
.themify_builder .contact-102-0-0-0.module-contact .builder-contact-field-send button{font-family: Josefin Sans; }
