/* Themify Customize Styling */
body {	
	font-family:Josefin Sans;	font-weight:100;

	padding-top: 12%; 
}
input[type=reset], input[type=submit], button, .icon-menu .icon-menu-count, #headerwrap #cart-icon, #main-nav .has-mega-column .product-categories li:hover > .count, #pagewrap .wpf_slider.ui-slider .ui-widget-header, .back-top a:before, #site-description, .woocommerce .wc-products .product .add_to_cart_button, .woocommerce ul.products li.product .add_to_cart_button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce span.onsale:before, .woocommerce-page span.onsale:before, .wishlist-button.wishlisted, .woocommerce ul.products li.product a.wishlisted {	background: none;
	background-color: rgba(179,175,175,0.63); 
}
a, input[type=reset]:hover, input[type=submit]:hover, button:hover, #headerwrap a:hover, .sidemenu .search-button:hover, .post-title a:hover, #footerwrap a:hover, .fancy-heading, .inline-fancy-heading .fancy-heading .sub-head, #main-nav ul .current_page_item > a, #main-nav ul .current-menu-item > a, #main-nav ul  a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover, .woocommerce .woocommerce-product-rating, .social-share .share:hover:after {	
	color: #000000; 
}
#content {	
	margin-top: -15%; 
}
h3 {	
	font-family:Arial, Helvetica, sans-serif; 
}
#header {	
	font-family:Josefin Sans;	font-weight:100;

	color: #404040; 
}
#header a {	
	color: #000000; 
}
#header a:hover {	
	color: rgba(97,97,97,0.64); 
}
#headerwrap.fixed-header #header {	
	color: #000000; 
}
#site-logo {	
	font-family:Josefin Sans;	font-weight:100;

	color: #000000; 
}
#site-logo a {	
	color: #000000; 
}
#main-nav a {	
	font-family:Josefin Sans;	font-weight:300;
	text-transform:capitalize;
	color: #000000; 
}
#main-nav a:hover {	background: none;
	background-color: rgba(0,0,0,0.00);
	color: rgba(66,66,66,0.81); 
}
body:not(.mobile_menu_active) #main-nav .current_page_item > a, body:not(.mobile_menu_active) #main-nav .current-menu-item > a {	
	color: rgba(6,97,33,0.67); 
}
#main-nav ul a, body:not(.mobile_menu_active) #main-nav .current_page_item ul a, body:not(.mobile_menu_active) #main-nav ul .current_page_item > a, body:not(.mobile_menu_active) #main-nav .current-menu-item ul a, body:not(.mobile_menu_active) #main-nav ul .current-menu-item > a, body:not(.mobile_menu_active) #main-nav .has-mega-column>.sub-menu a, body:not(.mobile_menu_active) #main-nav .has-mega-column > .sub-menu a {	
	color: #171717; 
}
.woocommerce ul.products li.product h3 {	
	font-family:Josefin Sans;	font-weight:300;
 
}
.woocommerce ul.products li.product .price {	
	font-family:Josefin Sans;	font-weight:100;
 
}
.woocommerce .wc-products .product .add_to_cart_button, .woocommerce ul.products li.product .add_to_cart_button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {	
	font-family:Josefin Sans;	font-weight:normal;
 
}
.page-title, .sidebar-none .page-title, .sidebar-none.single .page-title {	
	color: #000000;
	font-family:Josefin Sans;	font-weight:100;
	text-align:center;
	padding-top: 5%;
	padding-bottom: 10%; 
}
.module-title {		text-align:left; 
}
#footer-logo, #footer #footer-logo a {	
	font-family:Josefin Sans;	font-weight:100;
 
}
#footer {	
	font-family:Josefin Sans;	font-weight:100;
 
}

/* Themify Custom CSS */
.woocommerce .woocommerce-breadcrumb {
	color: #000000;}

.woocommerce .woocomerce-ordering {margin-bottom: 10%;}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
#site-logo {	
	color: #000000; 
}
#site-logo a {	
	color: #000000; 
}
#main-nav a {		font-weight:300;

	color: #000000; 
}
#main-nav a:hover {	background: none;
	background-color: rgba(0,0,0,0.00);
	color: rgba(101,150,143,0.51); 
}
body:not(.mobile_menu_active) #main-nav .current_page_item > a, body:not(.mobile_menu_active) #main-nav .current-menu-item > a {	
	color: rgba(77,214,116,0.67); 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
#site-logo a {	
	color: #000000; 
}
#main-nav a {		font-weight:300;
 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
#site-logo a {	
	color: #000000; 
}
#main-nav a {		font-weight:300;
 
}
 }.mobile_menu_active #headerwrap .sidemenu-on #main-nav a:hover, .mobile_menu_active #headerwrap .sidemenu-on #main-nav .current-menu-item > a { 
	color: #bdbbbb; }.mobile_menu_active #headerwrap .sidemenu-on #main-nav .current_page_item > a, .mobile_menu_active #headerwrap .sidemenu-on #main-nav .current-menu-item > a { 
	color: #18a324; }.mobile_menu_active #headerwrap .sidemenu-on #main-nav .current_page_item > a:hover, .mobile_menu_active #headerwrap .sidemenu-on #main-nav .current-menu-item > a:hover { 
	color: #c2c2c2; }